/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./api/sessions.scss";
@import "./api/users.scss";



// Total Reset with all related tags

header, a, nav, body, div, form, label, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  color: white;
}



// Site background related CSS

@media screen and (max-device-width: 800px) {
  html {
    background: url(http://res.cloudinary.com/nightstock/image/upload/v1489772984/bxcz1zmodxunyztminxj.gif) #191919 no-repeat center center fixed;
    background-size: contain;
  }
  #bgvid {
    display: none;
  }
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(http://res.cloudinary.com/nightstock/image/upload/v1489772984/bxcz1zmodxunyztminxj.gif) no-repeat;
  background-size: cover;
}



// Header related CSS

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 30px;
  min-width: 400px;
  width: 100%;
  margin-top: 20px;
  background-color: inherit;
}

 header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-family: 'Satisfy', cursive;
}

.Auth-NSLogo {
  width: 50px;
}

div header div hgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign {
  height: 30px;
  min-height: 30px;
  background-color: inherit;
  border: 0;
  border-left: solid 1px white;
  border-right: solid 1px white;
  transform: skewX(-20deg);
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 14px;
}

.sign-right-b {
  margin-right: 40px;
}

.sign:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-current-user-img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
  border: 2px solid white;
  background-color: gray;
  background-size: cover;
}



// Sign-in/up modal related CSS

.sign-form-title {
  margin-bottom: 0;
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

.errors-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.sign-form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.errors-box {
  min-height: 45px;
}

.sign-form-b {
  color: white;
  background-color: inherit;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.sign-form-b:hover {
  background-color: rgba(255,255,255,0.5);
}



// Splash page related CSS

.Center {
  min-width: 400px;
  width: 100%;
  height: 100%;
}

.Center .Middle {
  max-width: 800px;
  vertical-align: middle;
  padding: 0 20px;
  text-align: left;
  margin: 400px auto;
  background-color: rgba(0, 0, 0, .5);
}

.Splash-Text {
  color: white;
}
.Center .Middle h1 {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  margin-bottom: 10px;
}

.Center .Middle h3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
