/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./api/sessions.scss";
@import "./api/users.scss";


body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav, #id, hgroup, .header-group,  .header-button, nav, .sign-in-sign-up, .sign-form, .sign-input {
}

header, a, nav, body, div, form, label, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  background-color: rgb(28, 28, 28);
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 30px;
  margin-top: 20px;
}

 header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-family: 'Satisfy', cursive;
}

header a img {
  width: 50px;
}

div header div {
  color: white;

}

div header div hgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div header div hgroup h2 {
  margin-right: 15px;
  font-family: 'Satisfy', cursive;
}

div header div hgroup button {
  height: 20px;
  margin-right: 20px;
  background-color: white;
  border: solid 2px white;
  transform: skewX(-20deg);
  font-family: 'Play', sans-serif;
}

header {
  background-image: url(https://www.canadacompany.ca/resources/images/nts-navbar-shadow.png);
  background-size: cover;
}

.sign-in-sign-up button {
  height: 30px;
  background-color: rgb(1, 1, 1);
  border: 0;
  border-left: solid 1px white;
  transform: skewX(-20deg);
  font-family: 'Play', sans-serif;
  color: white;
}

.sign-up-b {
  margin-right: 30px;
  border: solid 1px white;
}
