// Sign-in/up modal related CSS

.sign-form-title {
  margin-bottom: 20px;
  font-family: 'Muli', sans-serif;
  font-size: 25px;
}

.errors-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.sign-form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign-form input:not([type=submit]) {
  width: 140px;
  height: 20px;
}

.errors-box {
  min-height: 45px;
}

.sign-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sign-form-b {
  color: white;
  background-color: inherit;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  font-size: 13px;
  border: 1px solid white;
  width: 40%;
}

.sign-form-b:hover {
  border-radius: 5px;
  border: 2px solid white;
}
