// Post form modal related CSS

.post {
  height: 35px;
  min-height: 35px;
  background-color: inherit;
  border: 0;
  font-family: 'Muli', sans-serif;
  color: white;
  font-size: 16px;
  margin: 2px;
  width: 110px;
}

.post:hover {
  border: 2px solid white;
  border-radius: 15px;
}

.post-form-title {
  margin-bottom: 0;
  font-family: 'Muli', sans-serif;
  font-size: 25px;
}

.post-form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-form input{
  font-family: 'Muli', sans-serif;
}

.post-form input:not([type=submit]) {
  width: 140px;
  height: 20px;
}

.post-form textarea {
  width: 140px;
  max-width: 140px;
  height: 60px;
  max-height: 60px;
  font-family: 'Muli', sans-serif;
}

.post-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-form-b {
  color: white;
  background-color: inherit;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  height: 30px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 5px;
  width: 40%;
}

.post-form-b:hover {
  border-radius: 5px;
  border: 2px solid white;
}

.DZone {
  min-width: 250px;
  min-height: 60px;
  border: 1px dashed white;
  text-align: center;
  height: 200px;
}

.post-form-preview-image {
  max-width:100%;
  max-height:100%;
  height: auto;
  width:auto;
}
