// Splash page related CSS

.wrap {
  max-width: 800px;
  vertical-align: middle;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 15%;
  margin: auto;
}

.wrap h1 {
  font-family: 'Muli', sans-serif;
  font-size: 36px;
  margin-bottom: 10px;

}

.wrap h3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-top: 10px;

}

.splash-text {
  color: white;
}

.splash-demo-b {
  height: 27px;
  min-height: 27px;
  background-color: inherit;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 5px;
  width: 130px;
}

.splash-demo-b:hover {
  border: solid 2px white;
}
